{% extends 'layout.html' %}

{% block title %}
    Личный кабинет
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2>Личный кабинет пользователя </h2><br>
    <ul class="list-group" style="width:30%; margin: 0 auto;">
      <li class="list-group-item" style="display:flex; align-items:center;">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
           &nbsp; &nbsp;<h3>{{ request.user.username }}</h3>
      </li>
      <li class="list-group-item" style="text-align:left;">
          <strong>Почта:</strong> {{ request.user.email }}
      </li>
      <li class="list-group-item" style="text-align:left;">
        {% if request.user.first_name %}
            <strong>Имя:</strong> {{ request.user.first_name }}
        {%else%}
            <strong>Имя:</strong> не указано
        {%endif%}
      </li>
      <li class="list-group-item" style="text-align:left;">
        {% if request.user.last_name %}
            <strong>Фамилия:</strong> {{ request.user.last_name }}
        {%else%}
            <strong>Фамилия:</strong> не указано
        {%endif%}
      </li>
      <li class="list-group-item" style="text-align:left;">
        {% if request.user.profile.address %}
            <strong>Адрес:</strong> {{ request.user.profile.address }}
        {%else%}
            <strong>Адрес:</strong> не указано
        {%endif%}
      </li>
    </ul>
    <div class="d-grid gap-2 col-5 mx-auto">
    <br>
    <a class="btn btn-primary" href="/my_page/edit">Редактировать личные данные</a>
    <a class="btn btn-success" href="/orders/">Заказы</a><br>
    </div>
    <a class="btn btn-danger mb-3" href="accounts/logout/">Выйти</a>
</div>
{% endblock %}
