{% extends 'layout.html' %}

{% block title %}
    Заказ
{% endblock title %}
{% block content %}
<h1>Информация о заказе:</h1>
<hr>
{% if order %}
    <div class="card mb-3" style="max-width: 100%;" align="center">
        <div class="card-header">Заказ от {{ order.order_data }} № {{ order.id }}</div>
          <div class="card-body">
                {% if order.status %}
                    <h5 class="card-title text-success">Доставлен</h5>
                {% else %}
                    <h5 class="card-title text-danger">Не доставлен</h5>
                {% endif %}
            <h6 class="card-subtitle mb-3 text-muted">Доставка: {{ order.delivery }}</h6>
            <p class="card-text">
                <ul class="list-group">
                    {% for product in products %}
                        <li class="list-group-item"> {{product.product.name}} x {{product.amount}} = {{product.get_cost}}</li>
                    {% endfor %}
                </ul>
            </p>
              <h5 class="card-subtitle mb-3">Итого сумма: {{order.get_total_cost}}</h5>
        </div>
      </div>
{% else %}
        <h2>Заказа нет!</h2>
{% endif %}


{% endblock content %}